extends layout

block content
  form(action="/todos/edit/" + todo.id, method="POST")
    .form-group
      label(for='title') Title
      input#title.form-control(type='text', name="title" value=todo.title)
    button.btn.btn-primary(type='submit') Edit Todo
