extends layout

block content
  .container
    h1=todo.title 

    .btn-group(role='group', class="text-light")
      a.btn.btn-info(type='button', href="/todos") Back
      a.btn.btn-secondary(type='button', href="/todos/edit/" + todo.id) Edit
      a.btn.btn-danger(type='button', onClick="deleteTodo(" + todo.id + ")") Delete